<td style="vertical-align:middle;text-align:center" width="190">
	<div id="image_">
		<p></p>
		<a href="{{ escape(developer.profile_url) }}"><img src="http://graph.facebook.com/{{ developer.id }}/picture?type=large" width="150" height="150"/></a>
		<p><font size="3"><a href="{{ escape(developer.profile_url) }}">{{ escape(developer.name) }}</a></font></p>
	</div>
	<div>
		<p><font size="2">s H i C k y (at) g M a i L . cOm</font></p>
	</div>
</td>
<td style="vertical-align:middle;text-align:center" width="50">
	<p><big></big></p>
</td>
<td style="vertical-align:middle;text-align:center" width="190">
	<div id="image_">
		<p></p>
		<a href="{{ escape(developer2.profile_url) }}"><img src="http://graph.facebook.com/{{ developer2.id }}/picture?type=large" width="150" height="150"/></a>
		<p><font size="3"><a href="{{ escape(developer2.profile_url) }}">{{ escape(developer2.name) }}</a></font></p>
	</div>
	<div>
		<p><font size="2">s U k wo N 0 70 9 (at) h O t M a i L . cOm</font></p>
	</div>
</td>